<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-core.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-forms.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-components.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-skins.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/custom.css">
	<script src="__PUBLIC__/Admin/Js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Ueditor/ueditor.all.min.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin/Js/html5shiv.min.js"></script>
		<script src="__PUBLIC__/Admin/Js/respond.min.js"></script>
	<![endif]-->
	<notempty name="model">
		<script>
			$(document).ready(function(){
				jQuery('#modal-6').modal('show', {backdrop: 'static'});
				<if condition="$model eq 4">
						setTimeout(function(){
							$('#modal-6').modal("hide");
						},1000);
				</if>
			});
		</script>
	</notempty>	
	
</head>
<body class="page-body">

	<div class="settings-pane">
		<include file="Main:top" />	
	</div>	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed collapsed">
			
			<div class="sidebar-menu-inner">	
				<include file="Main:left" />						
			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<include file="Main:title" />
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">交易中心</h1>
					<p class="description">Release information</p>
				</div>
				
				<div class="breadcrumb-env">
					
					<ol class="breadcrumb bc-1">
						<li>
							<a href="{:U('Admin/Main/Index')}"><i class="fa-home"></i>首页</a>
						</li>
						<li>
							<a href="javascript:;">信息发布</a>
						</li>
						<li class="active">
							<strong>交易中心</strong>
						</li>
					</ol>
								
				</div>
					
			</div>
			<div class="row">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">发布新闻信息</h3>
							<div class="panel-options">
								<a href="{:U('Admin/Server/index')}">
									<i class="linecons-calendar"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="显示新闻" data-original-title="新闻列表"></i>
								</a>
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<form role="form" action="{:U('Admin/Server/addAbout')}" method="post" enctype="multipart/form-data" class="form-horizontal">
								
								<div class="form-group">
									<label class="col-sm-2 control-label" >新闻标题</label>
									
									<div class="col-sm-10">
										<input type="text" name="title" class="form-control" placeholder="新闻的题目" value="{$title}">
									</div>
								</div>
								<div class="form-group-separator"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label" >新闻内容</label>
									
									<div class="col-sm-10">
										<script id="editor" name="content" type="text/plain" style="width:100%;height:300px;">{$content|htmlspecialchars_decode}</script>
										<!--<textarea rows="" cols="" name="content" style="width:100%;height:250px;border:1px solid #ccc;padding:10px;">{$News['content']|htmlspecialchars_decode}</textarea>-->
									</div>
								</div>
								<div class="form-group-separator"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label" >排序</label>
									
									<div class="col-sm-10">
										<input type="text" name="sort" class="form-control" placeholder="排序" value="{$sort?$sort:0}">
									</div>
								</div>
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">是否开启</label>
									
									<div class="col-sm-10">
										<div class="radio">
											<label>
												<input type="radio" name="status" value="1" checked>
												开启
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="status" value="0" <if condition="!$status">checked</if>>
												关闭
											</label>
										</div>

										
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-10">
										<input type="hidden" name="id" value="{$id}"/>
										<input type="hidden" name="p" value="{$p}"/>
										<input type="submit" class="btn btn-success" value="提交">
										<button type="reset" class="btn btn-white">重置</button>
									</div>
								</div>
							</form>
							
						</div>
					</div>
					
				</div>
			</div>		
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">			
				<include file="Main:foot" />			
			</footer>
		</div>
		
			
		<!-- start: Chat Section -->
		<include file="Main:right" />
		<!-- end: Chat Section -->
		
		
	</div>


<!-- Modal 6 (Long Modal)-->
	<div class="modal fade" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content">
				<if condition="$model eq 4">
					<div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>
							<font color="#2c2e2f"><strong>操作成功</strong></font>
						</h4>
					</div>
					<elseif condition="$model eq 3"/>
					<div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>
							<font color="red"><strong>操作失败！</strong></font>
						</h4>
					</div>			
				</if>
			</div>
		</div>
	</div>
	<!-- Modal 6 (Long Modal)-->

	<!-- Gallery Modal Image -->
	<div class="modal fade" id="gallery-image-modal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-gallery-image">
					<img src="__PUBLIC__/Admin/Images/album-image-full.jpg" class="img-responsive" id="gallery-image-set"/>
				</div>
				<div class="modal-footer modal-gallery-top-controls">
					<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
	</script>
	<!-- Bottom Scripts -->
	<script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/TweenMax.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/resizeable.js"></script>
	<script src="__PUBLIC__/Admin/Js/joinable.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-api.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="__PUBLIC__/Admin/Js/xenon-custom.js"></script>

</body>
</html>