<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$Think.config.DEFAULT_WEB_TITLE}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="{$Think.config.DEFAULT_WEB_DESCRIPTION}">
<meta name="keywords" content="{$Think.config.DEFAULT_WEB_KEYWORDS}" />

<!-- Basic CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/jquery.simplyscroll.css">

<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/smartadmin-production_unminified.css">
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/smartadmin-skins.css">
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/Home/Css/backoffice_ui_css.css">
<!--<script src='__PUBLIC__/Home/Js/echarts.js'></script>-->
<!-- FAVICONS -->
<link rel="shortcut icon" href="__PUBLIC__/Public/images/favicon.ico">
<link rel="icon" href="__PUBLIC__/Public/images/favicon.ico" type="image/x-icon">


