

<div class="navbar navbar-inverse" role="navigation" style="background: black">

    <div class="container" >
        <div class="navbar-header">
            <button type="buttion" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                <span class="sr-only"> {$Think.lang.bangchengjituan} </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <img src="__PUBLIC__/Home/Images/logo.png"  class='img-responsive'>
        </div>
        <div class="navbar-collapse collapse" style="background: black">
            <ul class="nav navbar-nav" style="margin-top: 40px;">
                
                <li><a href="{:U('Home/Index/home',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700">{$Think.lang.shouye}</a></li>
                <li><a href="{:U('Home/Index/kefu',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.kefuzhongxin}</a></li>
                <li><a href="{:U('Home/Index/guize',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.guizeshuoming}</a></li>
                <li><a href="{:U('Home/Index/guanyu',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.guanyuwomen}</a></li>
                <if condition ="$member['email'] neq ''">
                    <li><a href="{:U('Home/Main/editprofile',array('language'=>$language))}"   style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.huiyuanzhongxin}</a></li>
                    <li><a href="{:U('Home/Index/out',array('language'=>$language))}"   style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.tuichu}</a></li>

                    <else/>   
                    <li><a href="{:U('Home/Index/login',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.denglu}</a></li>
                    <li><a href="{:U('Home/Index/register',array('language'=>$language))}"  style="color:gold;font-size: 14px;;font-weight: 700"> {$Think.lang.zhuce}</a></li>
                </if>
<!--                <li><a  style="height:30px;width: 40px;" href="{:U('Home/Index/home',array('language'=>'zh-cn'))}"><img src="__PUBLIC__/Home/Images/036.png" style="height:20px;"  class='img-responsive' ></a></li>
                <li><a  style="height:30px;width: 40px;" href="{:U('Home/Index/home',array('language'=>'en-us'))}"><img src="__PUBLIC__/Home/Images/211.png" style="height:20px;"  class='img-responsive' ></a></li>
                <li><a  style="height:30px;width: 40px;" href="{:U('Home/Index/home',array('language'=>'ko-kr'))}"><img src="__PUBLIC__/Home/Images/216.png" style="height:20px;"  class='img-responsive' ></a></li>
                <li><a  style="height:30px;width: 40px;" href="{:U('Home/Index/home',array('language'=>'ja-jp'))}"><img src="__PUBLIC__/Home/Images/231.jpg" style="height:20px;"  class='img-responsive' ></a></li>-->
                
       
            </ul>
        </div>
    </div>
</div>

