<!-- JQUERY SCRIPT -->
<script src="__PUBLIC__/Home/Js/jquery-1.10.2.js"></script>
<!-- JQUERY UI SCRIPT -->
<script src="__PUBLIC__/Home/Js/jquery-ui-1.10.3.min.js"></script>
<!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/Home/Js/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="__PUBLIC__/Home/Js/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="__PUBLIC__/Home/Js/jarvis.widget.js"></script>

<!-- EASY PIE CHARTS -->
<script src="__PUBLIC__/Home/Js/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="__PUBLIC__/Home/Js/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="__PUBLIC__/Home/Js/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="__PUBLIC__/Home/Js/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="__PUBLIC__/Home/Js/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="__PUBLIC__/Home/Js/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="__PUBLIC__/Home/Js/jquery.mb.browser.min.js"></script>

<!-- SmartClick: For mobile devices -->
<script src="__PUBLIC__/Home/Js/smartclick.js"></script>
<script src="__PUBLIC__/Home/Js/jquery.form.js"></script>
<script src="__PUBLIC__/Home/Js/backoffice_app.js"></script>