<div id="shortcut" style="">
	<ul>
		<li>
			<a href="{:U('Home/Main/index')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-home fa-4x"></i> <span>{$Think.lang.menu-main}</span> </span> </a>
		</li>
		<li>
			<a href="{:U('Home/Main/downline_tree')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-sign-in fa-4x"></i> <span>{$Think.lang.menu-base-register}</span> </span> </a>
		</li>
		<li>
			<a href="{:U('Home/Main/editprofile')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>{$Think.lang.menu-base-editprofile}</span> </span> </a>
		</li>
		
		<li>
			<a href="{:U('Home/Main/upgrade_search')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-shopping-cart fa-4x"></i> <span>{$Think.lang.menu-upgrade}</span> </span> </a>
		</li>
		<li>
			<a href="{:U('Home/Main/downline_tree')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-sitemap fa-4x"></i> <span>{$Think.lang.menu-downline_tree}</span> </span> </a>
		</li>
		<li>
			<a href="{:U('Home/Main/cash_wallet')}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-dollar fa-4x"></i> <span>{$Think.lang.menu-wallet}</span> </span> </a>
		</li>
		
		<!--li>
			<a href="" class="jarvismetro-tile big-cubes bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-desktop fa-4x"></i> <span></span> </span> </a>
		</li-->
		
	</ul>
</div>