<include file="Public/indexhead"/>
	



<!--banner-->
<div class="jzcfgl_banner w1213 wrap" >
<div class="page_banner_box w1080 wrap">
<p class="new_banner_yw">About UNION</p>
<p class="new_banner_zw"><span>{$Think.lang.a6}</span></p>                
</div>
</div>
<!--banner-->

<!--家族统一资产帐户管理-->
 <div class=" w1213 wrap">
<div class="about_service w1080 wrap">
<p style=" color: #535353;
    font-size: 14px;
    line-height: 32px;"> {$Think.lang.a39}
</p>

</div></div>
<div class="clear"></div>

<!--内容区-->


<!--foot-->
<include file="Public/indexfoot"/>
