<include file="Public/indexhead"/>

<!--banner-->
<div class="jzcfgl_banner w1213 wrap">
        <div class="page_banner_box w1080 wrap">
                <p class="new_banner_yw">UNION Team</p>
                <p class="new_banner_zw"><span>{$Think.lang.a4}</span></p>                
        </div>
</div>
<!--banner-->

<!--家族统一资产帐户管理-->
<div class=" w1213 wrap">
        <div class="about_service w1080 wrap">
                <div class="sfgh"><span style="color:#81603b">{$Think.lang.a14}</span></div>
                <div class="sfgh_txt col_1">
                        {$Think.lang.a15} <br/>
                        {$Think.lang.a16}
                </div>
                <div class="sfgh_pic col_2"><img src="__PUBLIC__/Home/index/l1.png"  width="200" height="300" /></div>
        </div>
        <div class="clear"></div>

        <div class="about_service w1080 wrap">
                <div class="sfgh1"><span style="color:#81603b">{$Think.lang.a17}</span></div>
                <div class="sfgh_txt col_2">
                        {$Think.lang.a18}
                        <br/>{$Think.lang.a19}

                </div>
                <div class="sfgh_pic col_1"><img src="__PUBLIC__/Home/index/l2.png"  width="200" height="300" /></div>
        </div>
        <div class="clear"></div>
</div>
<div class="clear"></div>

<!--内容区-->
<include file="Public/indexfoot"/>
