<include file="Public/indexhead"/>
<!--banner-->
<div class="banner wrap">
        <ul class="jslist">
                <li style="background:url(__PUBLIC__/Home/index/sbanner1.jpg) no-repeat center"> <a></a>
                        <div class="bannertxt w1000px"></div>
                </li>
                <li style="background:url(__PUBLIC__/Home/index/sbanner2.jpg) no-repeat center"> <a></a>
                        <div class="bannertxt w1000px"></div>
                </li>


<!--                  <li style="background:url(__PUBLIC__/Home/index/sh3.jpg) no-repeat center"> <a></a>-->
                   <div class="bannertxt w1000px"> </div>
                 </li> 
        </ul>
        <div class="number"> 
                <span  class="current" >
                        <i>
                                <div class="sz1"></div>
                        </i>
                </span> 
                <span ><i>
                                <div class="sz2"></div>
                        </i></span> 
<!--                 <span ><i>
                                <div class="sz3"></div>
                        </i></span> -->

        </div>

</div>
<!--banner-->

<!--办公服务-->
<div class="Office_Services">
        <div class="Office_Services_tit w1213 wrap">{$Think.lang.a1}</div>
        <div class="Office_Services_list w1131 wrap">
                <dl>
                        <dd><a href="{:U('Home/Index/index4')}" ><img src="__PUBLIC__/Home/index/b1.jpg"  style="width:320px;height:150px;" /></a></dd>
                        <dt>
                                <h2>{$Think.lang.a3}</h2>
                                <!-- <p>通过与全球专业的家族架构设计师、律师及税务师合作，为家族提供世代传承的家族顶层架构、身份规划、税务筹划、家族信托等规划设计。</p> -->
                                <span><a href="{:U('Home/Index/index4')}" >{$Think.lang.a10} ></a></span>
                        </dt>
                </dl>
                <dl>
                        <dd><a href="{:U('Home/Index/index2')}" ><img src="__PUBLIC__/Home/index/b2.jpg" style="width:320px;height:150px;" /></a></dd>
                        <dt>
                                <h2>{$Think.lang.a4}</h2>
                                <!-- <p>以统一帐户管理、全权委托及全球化资产配置为重点，为客户分别提供个人财富管理及企业投资管理，达到金融资本的稳健保值增值的目标。</p> -->
                                <span><a href="{:U('Home/Index/index2')}" >{$Think.lang.a10} ></a></span>
                        </dt>
                </dl>
                <dl>
                        <dd><a href="{:U('Home/Index/index5')}" ><img src="__PUBLIC__/Home/index/b3.jpg"  style="width:320px;height:150px;" /></a></dd>
                        <dt>
                                <h2>{$Think.lang.a5}</h2>
                                <!-- <p>通过建立以家族精神为核心的二代传承教育、增强家族成员和睦氛围及创造家族公益品牌与声誉管理，提升家族成员的生活水准和幸福感受。</p> -->
                                <span><a href="{:U('Home/Index/index5')}" >{$Think.lang.a10} ></a></span>
                        </dt>
                </dl>
                <div class="clear"></div>
        </div>

</div>
<!--办公服务-->

<!--关于凯州家族办公室-->
<div class="about w1213 wrap">
        <div class="about_tit w1213 wrap">{$Think.lang.a1}</div>
        <div class="about_txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.a11}
        </div>
        <div class="about_map"><center><img src="__PUBLIC__/Home/index/mzd.jpg"  style="width: 1000px;"/></center></div>
</div>
<!--关于凯州家族办公室-->


<!--内容-->
<div class="services_main w1213 wrap">
        <dl    style="height:320px;">

                <dd class="con-two"   style="width:606px;height:320px;"><img src="__PUBLIC__/Home/index/s1.jpg"   style="width:606px;height:320px;" />
                        <div class="txt-two">
                                <h3><a href="{:U('Home/Index/index6')}" >{$Think.lang.a10} ></a></h3>
                        </div>
                </dd>
                <dt    style="width:606px;height:320px;" >
                        <h2>{$Think.lang.a6}</h2>
                        <p> {$Think.lang.a12}<br/>
                                ......
                        </p>
                </dt>

        </dl>

        <dl    style="height:320px;">
                <dt    style="width:606px;height:320px;" >
                        <h2>{$Think.lang.a7}</h2>
                        <p>{$Think.lang.a13}<br/>
                                ......

                </dt>
                <dd class="con-two"   style="width:606px;height:320px;"><img src="__PUBLIC__/Home/index/s2.jpg"    style="width:606px;height:320px;"  />
                        <div class="txt-two">
                                <h3><a href="{:U('Home/Index/index7')}" >{$Think.lang.a10} ></a></h3>
                        </div>
                </dd>
        </dl>


        <div class="clear"></div>
</div>
<!--内容-->
<include file="Public/indexfoot"/>


