<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-core.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-forms.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-components.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-skins.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/custom.css">

	<script src="__PUBLIC__/Admin/Js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin/Js/html5shiv.min.js"></script>
		<script src="__PUBLIC__/Admin/Js/respond.min.js"></script>
	<![endif]-->
	
	
</head>
<body class="page-body">

	<div class="settings-pane">
		<include file="Main:top" />	
	</div>	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed collapsed">
			
			<div class="sidebar-menu-inner">	
				<include file="Main:left" />						
			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<include file="Main:title" />
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">安全设置</h1>
					<p class="description">安全是指不受威胁、没有危险、危害、损失。</p>
				</div>
				
					<div class="breadcrumb-env">
					
								<ol class="breadcrumb bc-1">
									<li>
							<a href="{:U('Admin/Main/index')}"><i class="fa-home"></i>首页</a>
						</li>
								<li>
						
										<a href="javascript:;">安全设置</a>
								</li>
							<li class="active">
						
										<strong>安全设置</strong>
								</li>
								</ol>
								
				</div>
					
			</div>
			<div class="row">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Default form inputs</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<form role="form" class="form-horizontal">
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">Input text field</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" placeholder="Placeholder">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-2">Password</label>
									
									<div class="col-sm-10">
										<input type="password" class="form-control" id="field-2" placeholder="Placeholder (Password)">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">Disabled input</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Placeholder" disabled>
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-3">Email field</label>
									
									<div class="col-sm-10">
										<input type="email" class="form-control" id="field-3" placeholder="Enter your email&hellip;">
										<p class="help-block">Example block-level help text here. Emails inputs are validated on native HTML5 forms.</p>
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-4">File Field</label>
									
									<div class="col-sm-10">
										<input type="file" class="form-control" id="field-4">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-5">Text area</label>
									
									<div class="col-sm-10">
										<textarea class="form-control" cols="5" id="field-5"></textarea>
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-5">Auto grow</label>
									
									<div class="col-sm-10">
										<textarea class="form-control autogrow" cols="5" id="field-5" placeholder="I will grow as you enter new lines."></textarea>
									</div>
								</div>

								
								<div class="form-group-separator"></div>
								
								<div class="form-group has-info">
									<label class="col-sm-2 control-label" for="field-9">Info field</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-9" placeholder="Hello I am an info message">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-11">Input size</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control input-sm" id="field-13" placeholder=".input-sm">
										<br />
										<input type="text" class="form-control" id="field-14" placeholder="Normal input">
										<br />
										<input type="text" class="form-control input-lg" id="field-15" placeholder=".input-lg">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-11">Input text position</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control text-center" id="field-11" placeholder="Placeholder">
										<br />
										<input type="text" class="form-control text-right" id="field-12" placeholder="Placeholder">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">Select list</label>
									
									<div class="col-sm-10">
										<select class="form-control">
											<option>Option 1</option>
											<option>Option 2</option>
											<option>Option 3</option>
											<option>Option 4</option>
											<option>Option 5</option>
										</select>
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">Checkboxes</label>
									
									<div class="col-sm-10">
										<div class="checkbox">
											<label>
												<input type="checkbox">
												Default checkbox
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox">
												Another one
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" disabled>
												Disabled option
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" checked disabled>
												Checked and disabled option
											</label>
										</div>
										
										<br />
										<strong>Inline checkboxes</strong>
										
										<p>
											<label class="checkbox-inline">
												<input type="checkbox">
												Inline checkbox 1
											</label>
											<label class="checkbox-inline">
												<input type="checkbox">
												Inline checkbox 2
											</label>
											<label class="checkbox-inline">
												<input type="checkbox">
												Inline checkbox 3
											</label>
										</p>
										
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">Radio buttons</label>
									
									<div class="col-sm-10">
										<div class="radio">
											<label>
												<input type="radio" name="radio-1" checked>
												Default radio
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="radio-1">
												Another one
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" disabled>
												Disabled option
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" checked disabled>
												Checked and disabled option
											</label>
										</div>
										
										<br />
										<strong>Inline radio buttons</strong>
										
										<p>
											<label class="radio-inline">
												<input type="radio" name="radio-2" checked>
												Inline radio button 1
											</label>
											<label class="radio-inline">
												<input type="radio" name="radio-2">
												Inline radio button 2
											</label>
											<label class="radio-inline">
												<input type="radio" name="radio-2">
												Inline radio button 3
											</label>
										</p>
										
									</div>
								</div>
								
								
							</form>
							
						</div>
					</div>
					
				</div>
			</div>
					
			
			<div class="row">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Input Grid</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<div class="row col-margin">
								<div class="col-xs-12">
									<input type="text" class="form-control" placeholder="xs-12" />
								</div>
									
								<div class="col-xs-6">
									<input type="text" class="form-control" placeholder=".col-xs-6" />
								</div>
									
								<div class="col-xs-6">
									<input type="text" class="form-control" placeholder=".col-xs-6" />
								</div>
									
								<div class="col-xs-3">
									<input type="text" class="form-control" placeholder=".col-xs-3" />
								</div>
									
								<div class="col-xs-3">
									<input type="text" class="form-control" placeholder=".col-xs-3" />
								</div>
									
								<div class="col-xs-3">
									<input type="text" class="form-control" placeholder=".col-xs-3" />
								</div>
									
								<div class="col-xs-3">
									<input type="text" class="form-control" placeholder=".col-xs-3" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder=".col-xs-2" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
									
								<div class="col-xs-1">
									<input type="text" class="form-control" placeholder=".xs-1" />
								</div>
							</div>
						
						</div>
					</div>
				
				</div>
			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">			
				<include file="Main:foot" />			
			</footer>
		</div>
		
			
		<!-- start: Chat Section -->
		<include file="Main:right" />
		<!-- end: Chat Section -->
		
		
	</div>
	
	
	



	<!-- Bottom Scripts -->
	<script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/TweenMax.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/resizeable.js"></script>
	<script src="__PUBLIC__/Admin/Js/joinable.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-api.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="__PUBLIC__/Admin/Js/xenon-custom.js"></script>

</body>
</html>