<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>后台管理系统</title>

	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-core.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-forms.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-components.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-skins.css">
	<link rel="stylesheet" href="__PUBLIC__/Admin/Css/custom.css">

	<script src="__PUBLIC__/Admin/Js/jquery-1.11.1.min.js"></script>
	<notempty name="model">
		<script>
			$(document).ready(function(){
				jQuery('#modal-6').modal('show', {backdrop: 'static'});
				<if condition="$model eq 4">
						setTimeout(function(){
							$('#modal-6').modal("hide");
						},1000);
				</if>
			});
		</script>
	</notempty>
	<script>
		$(document).ready(function(){
			$(".img-responsive").click(function(){
				$("#gallery-image-modal").modal('show');
				$("#gallery-image-set").attr("src",$(this).attr("src"));
			});
			$(".iswitch").click(function () {
				location.href = $(this).parent().attr("href");
			});
		});
	</script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin/Js/html5shiv.min.js"></script>
		<script src="__PUBLIC__/Admin/Js/respond.min.js"></script>
	<![endif]-->
	
	
</head>
<body class="page-body">

	<div class="settings-pane">
		<include file="Main:top" />	
	</div>	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed collapsed">
			
			<div class="sidebar-menu-inner">	
				<include file="Main:left" />
			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<include file="Main:title" />
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">信息管理</h1>
					<p class="description">用户反馈信息</p>
				</div>
				
					<div class="breadcrumb-env">
					
								<ol class="breadcrumb bc-1">
									<li>
							<a href="{:U('Admin/Main/index')}"><i class="fa-home"></i>首页</a>
						</li>
								<li>
						
										<a href="javascript:;">图片管理</a>
								</li>
							<li class="active">
						
										<strong>新闻信息</strong>
								</li>
								</ol>
								
				</div>
					
			</div>
			<!-- Table Styles -->
			<div class="row">
				<div class="col-md-12">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">图片管理</h3>
							
							<div class="panel-options">

								<a href="{:U('Admin/Main/addInformation',array('p'=>$p))}">
									<i class="fa-eyedropper"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后出现添加框" data-original-title="添加新闻"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="{:U('Admin/Main/information')}" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>

						<div class="panel-body panel-border">
						
							<div class="row">
								<div class="col-sm-12">
								
									<!-- Table Model 2 -->
									<!-- <strong>Table Model 2</strong> -->
									<table class="table table-bordered table-striped" id="example-2">
										<thead>
										<tr>
											<th>序号</th>
											<th>标题</th>
											<th>内容</th>
											<th>排序</th>
											<th>推荐</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
										</thead>

										<tbody class="middle-align">

										<volist name="InformationList" id="ne">
											<tr>
												<td>{$ne['id']}</td>
												<td><if condition="mb_strlen($ne['title'],'utf8') elt 10">{$ne['title']}<else/>{$ne['title']|mb_substr=0,10,'utf-8'}...</if></td>
												<td style="width:25%"><if condition="mb_strlen($ne['content'],'utf8') elt 15">{$ne['content']}<else/>{$ne['content']|mb_substr=0,15,'utf-8'}...</if></td>
												<td>{$ne['sort']}</td>
												<td>
													<if condition="$ne['recom']">
														<a href="{:U('Admin/Main/recomInformation',array('id'=>$ne['id'],'recom'=>0,'p'=>$p))}" ><input type="checkbox" checked class="iswitch"></a>
														<else/>
														<a href="{:U('Admin/Main/recomInformation',array('id'=>$ne['id'],'recom'=>1,'p'=>$p))}" ><input type="checkbox" class="iswitch"></a>
													</if>
												</td>
												<td>
													<if condition="$ne['status']">
														<a href="{:U('Admin/Main/statusInformation',array('id'=>$ne['id'],'status'=>0,'p'=>$p))}" ><input type="checkbox" checked class="iswitch"></a>
														<else/>
														<a href="{:U('Admin/Main/statusInformation',array('id'=>$ne['id'],'status'=>1,'p'=>$p))}" ><input type="checkbox" class="iswitch"></a>
													</if>
												</td>
												<td>
													<a href="{:U('Admin/Main/addInformation',array('p'=>$p))}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后出现添加框" data-original-title="添加新闻" class="btn btn-secondary btn-sm btn-icon icon-left">添加</a>
													<a href="{:U('Admin/Main/addInformation',array('id'=>$ne['id'],'p'=>$p))}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后编辑新闻" data-original-title="编辑新闻" class="btn btn-warning btn-sm btn-icon icon-left">编辑</a>
													<a href="{:U('Admin/Main/deleteInformation',array('id'=>$ne['id'],'p'=>$p))}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后进入回收站" data-original-title="删除该项" class="btn btn-danger btn-sm btn-icon icon-left">删除</a>
												</td>
											</tr>
										</volist>

										</tbody>
									</table>
									<div class="row">
										<div class="col-xs-6">
											<div class="dataTables_info" ></div>
										</div>
										<div style="float:right;">
											<div class="page">
												{$page}
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
				</div>
			</div>

			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">			
				<include file="Main:foot" />			
			</footer>
		</div>
		
			
		<!-- start: Chat Section -->
		<include file="Main:right" />
		<!-- end: Chat Section -->
		
		
	</div>


	<!-- Modal 6 (Long Modal)-->
	<div class="modal fade" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content">
				<if condition="$model eq 4">
					<div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>
							<font color="#2c2e2f"><strong>操作成功</strong></font>
						</h4>
					</div>
					<elseif condition="$model eq 3"/>
					<div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>
							<font color="red"><strong>操作失败！</strong></font>
						</h4>
					</div>
					<else/>
					<form role="form" action="{:U('Admin/Main/addPicture')}" method="post" enctype="multipart/form-data" class="form-horizontal">

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">图片标题</label>

							<div class="col-sm-10">
								<input type="text" name="title" class="form-control" placeholder="图片的题目" value="{$title}">
							</div>
						</div>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label  class="col-sm-2 control-label" for="field-1">所属相册</label>
							<div class="col-sm-10">
								<select name="photo_id" class="form-control">
									<option value="">选择</option>
									<volist name="Photo" id="pho">
										<option value="{$pho['id']}" <if condition="$photo_id eq $pho['id']">selected</if>  >{$pho['title']}</option>
									</volist>

								</select>
							</div>
						</div>
						<notempty name="$picture">
							<div class="form-group-separator"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="field-4">显示图片</label>

								<div class="col-sm-10">
									<img src="{$picture}" stype="width:100px;height:80px;">
								</div>
							</div>
						</notempty>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">URL地址</label>

							<div class="col-sm-10">
								<input type="text" name="url" class="form-control" placeholder="URL地址" value="{$url}">
							</div>
						</div>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-4">图片上传</label>

							<div class="col-sm-10">
								<input type="file" name="picture" class="form-control">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-5">图片描述</label>

							<div class="col-sm-10">
								<textarea name="remark" class="form-control" cols="5" >{$remark}</textarea>
							</div>
						</div>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">排序</label>

							<div class="col-sm-10">
								<input type="text" name="sort" class="form-control" placeholder="排序" value="{$sort}">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label">打开方式</label>

							<div class="col-sm-10">
								<div class="radio">
									<label>
										<input type="radio" name="target" value="1" checked>
										新页
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="target" value="0" <if condition="!$status">checked</if>>
										原页
									</label>
								</div>

							</div>
						</div>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否推荐</label>

							<div class="col-sm-10">
								<div class="radio">
									<label>
										<input type="radio" name="recom" value="1" checked>
										推荐
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="recom" value="0" <if condition="!$recom">checked</if>>
										不推荐
									</label>
								</div>

							</div>
						</div>
						<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否开启</label>

							<div class="col-sm-10">
								<div class="radio">
									<label>
										<input type="radio" name="status" value="1" checked>
										开启
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="status" value="0" <if condition="!$status">checked</if>>
										关闭
									</label>
								</div>

							</div>
						</div>
						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-11"></label>
							<div class="col-sm-10">
								<input type="hidden" name="id" value="{$id}"/>
								<input type="hidden" name="p" value="{$p}">
								<input type="submit" class="btn btn-success" value="提交">
								<button type="reset" class="btn btn-white">重置</button>
								<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
							</div>
						</div>
					</form>
				</if>
			</div>
		</div>
	</div>
	<!-- Modal 6 (Long Modal)-->

	<!-- Gallery Modal Image -->
	<div class="modal fade" id="gallery-image-modal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-gallery-image">
					<img src="__PUBLIC__/Admin/Images/album-image-full.jpg" class="img-responsive" id="gallery-image-set"/>
				</div>
				<div class="modal-footer modal-gallery-top-controls">
					<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bottom Scripts -->
	<script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/TweenMax.min.js"></script>
	<script src="__PUBLIC__/Admin/Js/resizeable.js"></script>
	<script src="__PUBLIC__/Admin/Js/joinable.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-api.js"></script>
	<script src="__PUBLIC__/Admin/Js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="__PUBLIC__/Admin/Js/xenon-custom.js"></script>

</body>
</html>