<div class="sidebar-menu-inner">	

    <header class="logo-env">

        <!-- logo -->
        <div class="logo">
            <a href="{:U('Admin/Main/index')}" class="logo-expanded">
                <img src="__PUBLIC__/Admin/Images/logo@2x.png" width="180" alt="" />
            </a>

            <a href="{:U('Admin/Main/index')}" class="logo-collapsed">
                <img src="__PUBLIC__/Admin/Images/logo-collapsed@2x.png" width="40" alt="" />
            </a>
        </div>

        <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
        <div class="mobile-menu-toggle visible-xs">
            <a href="#" data-toggle="user-info-menu">
                <i class="fa-bell-o"></i>
                <span class="badge badge-success">7</span>
            </a>

            <a href="#" data-toggle="mobile-menu">
                <i class="fa-bars"></i>
            </a>
        </div>

        <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
        <div class="settings-icon">
            <a href="#" data-toggle="settings-pane" data-animate="true">
                <i class="linecons-cog"></i>
            </a>
        </div>


    </header>



    <ul id="main-menu" class="main-menu">
        <!-- add class "multiple-expanded" to allow multiple submenus to open -->
        <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
        <!-- <li  class="opened active"> -->
        <li <in name="action" value="index,packageType,digitPrice,priceLevel,coin_info,split">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-graduation-cap"></i>
                <span class="title">交易盘设置</span>
            </a>
            <ul>
                 <li <eq name="action" value="changgui">class="active"</eq>>
                    <a href="{:U('Admin/Main/changgui')}">
                        <span class="title">常规设置</span>
                    </a>
                </li>
                <li <eq name="action" value="pan1">class="active"</eq>>
                    <a href="{:U('Admin/Main/pan1')}">
                        <span class="title">钱包设置</span>
                    </a>
                </li>
                <li <eq name="action" value="pan1">class="active"</eq>>
                    <a href="{:U('Admin/Main/renwu')}">
                        <span class="title">执行任务</span>
                    </a>
                </li>
<!--                <li <eq name="action" value="choujiang">class="active"</eq>>
                    <a href="{:U('Admin/Main/choujiang')}">
                        <span class="title">抽奖设置</span>
                    </a>
                </li>
                <li <eq name="action" value="shaizi">class="active"</eq>>
                    <a href="{:U('Admin/Main/shaizi')}">
                        <span class="title">色子奖项设置</span>
                    </a>
                </li>
                <li <eq name="action" value="sz">class="active"</eq>>
                    <a href="{:U('Admin/Main/sz')}">
                        <span class="title">色子期数</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="digitPrice">class="active"</eq>>
                    <a href="{:U('Admin/Main/pan2')}">
                        <span class="title">盘二</span>
                    </a>
                </li>
                <li <eq name="action" value="priceLevel">class="active"</eq>>
                    <a href="{:U('Admin/Main/pan3')}">
                        <span class="title">盘三</span>
                    </a>
                </li>-->
                
            </ul>
        </li>
        
        <li <in name="action" value="index,packageType,digitPrice,priceLevel,coin_info,split">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-graduation-cap"></i>
                <span class="title">持有资产</span>
            </a>
            <ul>
                <li <eq name="action" value="packageType">class="active"</eq>>
                    <a href="{:U('Admin/Main/packageType')}">
                        <span class="title">持有资产管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li <in name="action" value="news,product,ad,photo,message,picture,safety,Cash">class="active opened active"</in> >
            <a href="javascript:;">
                <i class="linecons-tag"></i>
                <span class="title">信息管理</span>
            </a>
            <ul>
                <li <eq name="action" value="news">class="active"</eq> >
                    <a href="{:u('Admin/Main/news')}">
                        <span class="title">新闻管理</span>
                    </a>
                </li>
<!--                <li <eq name="action" value="information">class="active"</eq>>
                    <a href="{:u('Admin/Main/information')}">
                        <span class="title">信息中心管理</span>
                    </a>
                </li>-->
            </ul>
        </li>
        <li <in name="action" value="member,addMember,upMember">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-t-shirt"></i>
                <span class="title">会员管理</span>
                <!--<span class="label label-success pull-right">5</span>-->
            </a>
            <ul>
                <li <eq name="action" value="addMember">class="active"</eq>>
                    <a href="{:U('Admin/Main/addMember')}">
                        <span class="title">添加会员</span>
                    </a>
                </li>
                <li <eq name="action" value="member">class="active"</eq>>
                    <a href="{:U('Admin/Main/member')}">
                        <span class="title">会员列表</span>
                    </a>
                </li>
                <li <eq name="action" value="kefu">class="active"</eq>>
					<a href="{:U('Admin/Order/kefu')}">
						<span class="title">客服反馈</span>
					</a>
				</li>
<!--                 <li <eq name="action" value="member">class="active"</eq>>
                    <a href="{:U('Admin/Main/zengsong')}">
                        <span class="title">赠送激活码</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="jihuomajilu">class="active"</eq>>
                    <a href="{:U('Admin/Order/jihuomajilu')}">
                        <span class="title">激活码转移记录</span>
                    </a>
                </li>-->
            </ul>
        </li>
        <li <in name="action" value="order,orderCharts,digitCharts,recharge">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-desktop"></i>
                <span class="title">充值提现管理</span>
            </a>
            <ul>
                <li <eq name="action" value="rujin">class="active"</eq>>
                    <a href="{:U('Admin/Order/rujin')}">
                        <span class="title">充值列表</span>
                    </a>
                </li>
                 <li <eq name="action" value="moneybd">class="active"</eq>>
                    <a href="{:U('Admin/Order/moneybd')}">
                        <span class="title">后台金额变动列表</span>
                    </a>
                </li>
                <li <eq name="action" value="chujin">class="active"</eq>>
                    <a href="{:U('Admin/Order/chujin')}">
                        <span class="title">提现列表</span>
                    </a>
                </li>
<!--                <li <eq name="action" value="chouma">class="active"</eq>>
                    <a href="{:U('Admin/Order/chouma')}">
                        <span class="title">筹码兑换列表</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="guamai">class="active"</eq>>
                    <a href="{:U('Admin/Order/guamai')}">
                        <span class="title">会员挂卖信息</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="bank">class="active"</eq>>
                    <a href="{:U('Admin/Order/bank')}">
                        <span class="title">银行卡管理</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="huafeilist">class="active"</eq>>
                    <a href="{:U('Admin/Order/huafeilist')}">
                        <span class="title">话费充值记录</span>
                    </a>
                </li>
                 <li <eq name="action" value="jiayou">class="active"</eq>>
                    <a href="{:U('Admin/Order/jiayou')}">
                        <span class="title">加油卡充值记录</span>
                    </a>
                </li>-->
                
            </ul>
        </li>
<!--        <li <in name="action" value="order,orderCharts,digitCharts,recharge">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-desktop"></i>
                <span class="title">商城</span>
            </a>
            <ul>
                <li <eq name="action" value="recharge">class="active"</eq>>
                    <a href="{:U('Admin/Order/shangcheng')}">
                        <span class="title">商城订单</span>
                    </a>
                </li>
                <li <eq name="action" value="order">class="active"</eq>>
                    <a href="{:U('Admin/Order/dzp')}">
                        <span class="title">抽奖订单</span>
                    </a>
                </li>
            </ul>
        </li>-->
<!--        <li <in name="action" value="order,orderCharts,digitCharts,recharge">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-desktop"></i>
                <span class="title">订单管理</span>
            </a>
            <ul>
                <li <eq name="action" value="recharge">class="active"</eq>>
                    <a href="{:U('Admin/Order/recharge')}">
                        <span class="title">账户充值</span>
                    </a>
                </li>
                <li <eq name="action" value="order">class="active"</eq>>
                    <a href="{:U('Admin/Order/order')}">
                        <span class="title">充值列表</span>
                    </a>
                </li>
                <li <eq name="action" value="orderCharts">class="active"</eq>>
                    <a href="{:U('Admin/Order/orderCharts')}">
                        <span class="title">充值统计</span>
                    </a>
                </li>
                <li <eq name="action" value="digitCharts">class="active"</eq>>
                <a href="{:U('Admin/Order/digitCharts')}">
                        <span class="title">Digit价格设定</span>
                </a>
                </li>
            </ul>
        </li>-->
<!--        <li <in name="action" value="addRole,role,addNode,node">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-wallet"></i>
                <span class="title">权限管理</span>
            </a>
            <ul>
                <li <eq name="action" value="addRole">class="active"</eq> >
                    <a href="{:U('Admin/Rbac/addRole')}">
                        <span class="title">添加角色</span>
                    </a>
                </li>
                <li <eq name="action" value="role">class="active"</eq> >
                    <a href="{:U('Admin/Rbac/role')}">
                        <span class="title">角色管理</span>
                    </a>
                </li>
                <li <eq name="action" value="addNode">class="active"</eq> >
                    <a href="{:U('Admin/Rbac/addNode')}">
                        <span class="title">添加节点</span>
                    </a>
                </li>
                <li <eq name="action" value="node">class="active"</eq> >
                    <a href="{:U('Admin/Rbac/node')}">
                        <span class="title">节点管理</span>
                    </a>
                </li>
            </ul>
        </li>-->
        <li <in name="action" value="save,admin,addAdmin,clear">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-params"></i>
                <span class="title">安全与数据</span>
            </a>
            <ul>
                <li <eq name="action" value="admin">class="active"</eq> <eq name="action" value="addAdmin">class="active"</eq>>
                    <a href="{:U('Admin/Data/admin')}">
                        <span class="title">管理员</span>
                    </a>
                </li>
                <!--<li <eq name="action" value="backups">class="active"</eq>>-->
                <!--<a href="{:U('Admin/Data/backups')}">-->
                <!--<span class="title">模版修改</span>-->
                <!--</a>-->
                <!--</li>-->
                <li <eq name="action" value="clear">class="active"</eq>>
                    <a href="{:U('Admin/Data/clear')}">
                        <span class="title">清除缓存</span>
                    </a>
                </li>
                <!--<li <eq name="action" value="safety">class="active"</eq>>-->
                <!--<a href="{:U('Admin/Data/safety')}">-->
                <!--<span class="title">安全设置</span>-->
                <!--</a>-->
                <!--</li>-->
<!--                <li <eq name="action" value="save">class="active"</eq>>
                    <a href="{:U('Admin/Data/save')}">
                        <span class="title">备份与恢复</span>
                    </a>
                </li>-->
            </ul>
        </li>
<!--        <li <in name="action" value="">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-wallet"></i>
                <span class="title">交易中心</span>
                <span class="label label-purple pull-right hidden-collapsed">New Items</span>
            </a>
            <ul>
                <li <eq name="action" value="index">class="active"</eq>>
                    <a href="{:U('Admin/Server/index')}">
                        <span class="title">交易中心管理</span>
                    </a>
                </li>
                <li <eq name="action" value="order">class="active"</eq>>
                    <a href="{:U('Admin/Server/order')}">
                        <span class="title">提现申请列表</span>
                    </a>
                </li>
                <li <eq name="action" value="map">class="active"</eq>>
                <a href="{:U('Admin/Server/map')}">
                        <span class="title">行情信息</span>
                </a>
                </li>
                <li <eq name="action" value="system">class="active"</eq>>
                    <a href="{:U('Admin/Server/system')}">
                        <span class="title">交易中心设置</span>
                    </a>
                </li>
            </ul>
        </li>-->
        <li <in name="action" value="app,newType,productType,adType,messageType,memberType,photoType,androidNavigation,pcNavigation,system,setThumb,setPay,setEmail,delete">class="active opened active"</in>>
            <a href="javascript:;">
                <i class="linecons-cog"></i>
                <span class="title">网站设置</span>
                <!--<span class="label label-purple pull-right hidden-collapsed">New Items</span>-->
            </a>
            <ul>
                <li <eq name="action" value="system">class="active"</eq>>
                    <a href="{:U('Admin/Config/system')}">
                        <span class="title">基础设置</span>
                    </a>
                </li>
<!--                 <li <eq name="action" value="gongyi">class="active"</eq>>
                    <a href="{:U('Admin/Config/gongyi')}">
                        <span class="title">公益设置</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="app">class="active"</eq>>
                    <a href="{:U('Admin/Config/app')}">
                        <span class="title">功能设置</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="country">class="active"</eq>>
                    <a href="{:U('Admin/Main/country')}">
                        <span class="title">国家管理</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="setPay">class="active"</eq>>
                    <a href="{:U('Admin/Config/setPay')}">
                        <span class="title">支付设置</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="setEmail">class="active"</eq>>
                    <a href="{:U('Admin/Config/setEmail')}">						
                        <span class="title">邮箱设置</span>
                    </a>
                </li>-->
<!--                <li <eq name="action" value="delete">class="active"</eq>>
                    <a href="{:U('Admin/Config/delete')}">
                        <span class="title">回收站</span>
                    </a>
                </li>-->
            </ul>
        </li>
    </ul>

</div>