<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta http-equiv="Content-Language" content="zh-cn">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <meta name="description" content="Xenon Boostrap Admin Panel" />
                    <meta name="author" content="" />

                    <title>后台管理系统</title>

                    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/linecons/css/linecons.css">
                        <link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/fontawesome/css/font-awesome.min.css">
                            <link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
                                <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-core.css">
                                    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-forms.css">
                                        <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-components.css">
                                            <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-skins.css">
                                                <link rel="stylesheet" href="__PUBLIC__/Admin/Css/custom.css">

                                                    <script src="__PUBLIC__/Admin/Js/jquery-1.11.1.min.js"></script>

                                                    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                                                    <!--[if lt IE 9]>
                                                            <script src="__PUBLIC__/Admin/Js/html5shiv.min.js"></script>
                                                            <script src="__PUBLIC__/Admin/Js/respond.min.js"></script>
                                                    <![endif]-->
                                                    <notempty name="model">
                                                        <script>
                                                            $(document).ready(function() {
                                                                jQuery('#modal-6').modal('show', {backdrop: 'static'});
                                                                        < if condition = "$model eq 4" >
                                                                        setTimeout(function() {
                                                                            $('#modal-6').modal("hide");
                                                                        }, 1000);
                                                                        < /if>
                                                            });
                                                        </script>
                                                    </notempty>
                                                    <script>
                                                        $(document).ready(function() {
                                                            $(".iswitch").click(function() {
                                                                location.href = $(this).parent().attr("href");
                                                            });
                                                        });
                                                    </script>
                                                    </head>
                                                    <body class="page-body">

                                                        <div class="settings-pane">
                                                            <include file="Main:top" />	
                                                        </div>	
                                                        <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

                                                            <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
                                                            <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
                                                            <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
                                                            <div class="sidebar-menu toggle-others fixed collapsed">

                                                                <div class="sidebar-menu-inner">	
                                                                    <include file="Main:left" />
                                                                </div>

                                                            </div>

                                                            <div class="main-content">

                                                                <!-- User Info, Notifications and Menu Bar -->
                                                                <include file="Main:title" />
                                                                <div class="page-title">

                                                                    <div class="title-env">
                                                                        <h1 class="title">会员管理</h1>
                                                                        <p class="description">现有会员管理</p>
                                                                    </div>

                                                                    <div class="breadcrumb-env">

                                                                        <ol class="breadcrumb bc-1">
                                                                            <li>
                                                                                <a href="{:U('Admin/Main/index')}"><i class="fa-home"></i>首页</a>
                                                                            </li>
                                                                            <li>

                                                                                <a href="javascript:;">会员信息</a>
                                                                            </li>
                                                                            <li class="active">

                                                                                <strong>会员管理</strong>
                                                                            </li>
                                                                        </ol>

                                                                    </div>

                                                                </div>
                                                                <!-- Table Styles -->
                                                                <div class="row">
                                                                    <div class="col-md-12">

                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h3 class="panel-title">会员信息</h3>

                                                                                <div class="panel-options">
                                                                                    <a href="{:U('Admin/Main/addMember',array('p'=>$p))}">
                                                                                        <i class="fa-eyedropper"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后出现添加框" data-original-title="添加会员"></i>
                                                                                    </a>

                                                                                    <a href="#" data-toggle="panel">
                                                                                        <span class="collapse-icon">&ndash;</span>
                                                                                        <span class="expand-icon">+</span>
                                                                                    </a>

                                                                                    <a href="#" data-toggle="reload">
                                                                                        <i class="fa-rotate-right"></i>
                                                                                    </a>

                                                                                    <a href="#" data-toggle="remove">
                                                                                        &times;
                                                                                    </a>
                                                                                </div>
                                                                            </div>

                                                                            <div class="panel-body panel-border">

                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <form method="post" action="">
                                                                                            <table class="table table-bordered table-striped">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <select style="height:24px;" name="status">
                                                                                                                <option value="">是否开启</option>
                                                                                                                <option value="1" <eq name="status" value="1">selected="selected"</eq>>是</option>
                                                                                                                <option value="0" <eq name="status" value="0">selected="selected"</eq>>否</option>
                                                                                                            </select>
                                                                                                            <input name="text" value="{$text}" style="width:120px;">
                                                                                                                <input type="submit" value="搜索" style="background: #ccc;">
                                                                                                                    </td>
                                                                                                                    </tr>
                                                                                                                    </tbody>
                                                                                                                    </table>
                                                                                                                    </form>
                                                                                                                    <!-- Table Model 2 -->


                                                                                                                    <table class="table table-bordered table-striped" id="example-2">
                                                                                                                        <thead>
                                                                                                                            <tr>
                                                                                                                                <th>序号</th><th>邮箱</th> <th>姓名</th><th>上级会员</th><th>投资金额</th><th>最近登陆IP</th><th>管理</th>
                                                                                                                            </tr>
                                                                                                                        </thead>

                                                                                                                        <tbody class="middle-align">
                                                                                                                            <volist name="Member" id="mem">
                                                                                                                                <tr>
                                                                                                                                    <td style="width:60px;text-align:center;">{$mem['id']}</td>
                                                                                                                                    <td>{$mem['email']}</td>
                                                                                                                                    <td>
                                                                                                                                        <if condition="mb_strlen($mem['username'],'utf8') elt 10">{$mem['username']}<else/>{$mem['username']|mb_substr=0,10,'utf-8'}...</if>
                                                                                                                                    </td>
                                                                                                                                    <td>
                                                                                                                                        <notempty name="mem['p_id']"><font color="red">{$mem['femail']}</font><else/>无上级</notempty>
                                                                                                                                    </td>
                                                                                                                                    
<td>{$mem['touzi']}</td>
                                                                                                                                    <td><if condition="$mem['member_login_info'][0]"><font color="orange">{$mem['member_login_info'][0]['login_time']}<br/>
                                                                                                                                                {$mem['member_login_info'][0]['login_ip']}</font><else/>暂无数据</if>
                                                                                                                                    </td>
<!--                                                                                                                                    <td>
                                                                                                                                        <if condition="$mem['status']">
                                                                                                                                            <a href="{:U('Admin/Main/statusMember',array('id'=>$mem['id'],'status'=>0,'p'=>$p))}" ><input type="checkbox" checked class="iswitch"></a>
                                                                                                                                            <else/>
                                                                                                                                            <a href="{:U('Admin/Main/statusMember',array('id'=>$mem['id'],'status'=>1,'p'=>$p))}" ><input type="checkbox" class="iswitch"></a>
                                                                                                                                        </if>
                                                                                                                                    </td>-->
                                                                                                                                    <td>
                                                                                                                                        <a href="http://www.yuanjin.com/index.php?m=Home&c=Index&a=adgslogin&email={$mem['email']}&userpass={$mem['userpass']}" target="_blank" class="btn btn-danger btn-sm btn-icon icon-left">
                                                                                                                                            登录前台
                                                                                                                                        </a>
<!--                                                                                                                                        <a href="http://ycc.yuanjin.com/index.php?m=Server&c=Index&a=adgslogin&email={$mem['email']}&paypass={$mem['paypass']}" target="_blank" class="btn btn-gray btn-sm btn-icon icon-left">
                                                                                                                                            登录交易所
                                                                                                                                        </a>-->
                                                                                                                                        <a href="{:U('Admin/Main/addMember',array('id'=>$mem['id'],'p'=>$p))}" class="btn btn-danger btn-sm btn-icon icon-left">
                                                                                                                                            修改
                                                                                                                                        </a>
<!--                                                                                                                                        <a href="{:U('Admin/Main/yinhangka',array('id'=>$mem['id'],'p'=>$p))}" class="btn btn-danger btn-sm btn-icon icon-left">
                                                                                                                                            修改银行卡
                                                                                                                                        </a>-->

                                                                                                                                        <a href="{:U('Admin/Main/deleteMember',array('id'=>$mem['id'],'p'=>$p))}" class="btn btn-info btn-sm btn-icon icon-left">
                                                                                                                                            删除
                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </volist>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-xs-6">
                                                                                                                            <div class="dataTables_info" ></div>
                                                                                                                        </div>
                                                                                                                        <div style="float:right;">
                                                                                                                            <div class="page">
                                                                                                                                {$page}
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>


                                                                                                                    </div>
                                                                                                                    </div>

                                                                                                                    </div>

                                                                                                                    </div>

                                                                                                                    </div>
                                                                                                                    </div>

                                                                                                                    <!-- Main Footer -->
                                                                                                                    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
                                                                                                                    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
                                                                                                                    <!-- Or class "fixed" to  always fix the footer to the end of page -->
                                                                                                                    <footer class="main-footer sticky footer-type-1">			
                                                                                                                        <include file="Main:foot" />			
                                                                                                                    </footer>
                                                                                                                    </div>


                                                                                                                    <!-- start: Chat Section -->
                                                                                                                    <include file="Main:right" />
                                                                                                                    <!-- end: Chat Section -->


                                                                                                                    </div>

                                                                                                                                                        <!-- Bottom Scripts -->
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/TweenMax.min.js"></script>
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/resizeable.js"></script>
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/joinable.js"></script>
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-api.js"></script>
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-toggles.js"></script>


                                                                                                                                                        <!-- JavaScripts initializations and stuff -->
                                                                                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-custom.js"></script>

                                                                                                                                                        </body>
                                                                                                                                                        </html>