<footer id="footer">
	<div class="container">

		<div class="row">
			
			<div class="col-md-12">

				<!-- Footer Logo -->
				<img class="footer-logo footer-2" src="__PUBLIC__/Server/Images/logo_dark.png" alt="" />

				<!-- Small Description -->
				<p>We can build a future in BangCheng creativity. Bang Cheng is waiting for the partner.</p>

				<hr />



			</div>

		</div>

	</div>

	<div class="copyright">
		<div class="container">
			&copy; All Rights Reserved, Company BangCheng
		</div>
	</div>
</footer>