<footer>
<!--         <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                            <img class="img-responsive" src="__PUBLIC__/Home/Images/di.png">
                    </div>
                </div>-->
        <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12"  style="color:black;font-weight: 700">
                        <center>版权所有：元金集团</center>
                        <center>备案号：鲁ICP备17030994号-1</center>
                    </div>
                </div>
    </footer>