<meta charset="utf-8" />
<title>{$Think.config.DEFAULT_WEB_TITLE}</title>
<meta name="keywords" content="HTML5,CSS3,Template" />
<meta name="description" content="{$Think.config.DEFAULT_WEB_DESCRIPTION}" />
<meta name="Author" content="{$Think.config.DEFAULT_WEB_KEYWORDS}" />

<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<!-- WEB FONTS : use %7C instead of | (pipe) -->

<!-- CORE CSS -->
<link href="__PUBLIC__/Server/Css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="__PUBLIC__/Server/Css/essentials.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Server/Css/layout.css" rel="stylesheet" type="text/css" />

<!-- PAGE LEVEL SCRIPTS -->
<link href="__PUBLIC__/Server/Css/header-1.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Server/Css/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

<!-- REVOLUTION SLIDER -->
<link href="__PUBLIC__/Server/Css/extralayers.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Server/Css/settings.css" rel="stylesheet" type="text/css" />