<div class="container">
    <notempty name="DgcMember">
        <!-- right -->
        <ul class="top-links list-inline pull-right">
            <li class="text-welcome">欢迎来到邦诚集团：<strong>{$DgcMember['username']}</strong></li>
        </ul>		
    </notempty>
    <!-- left -->
    <ul class="top-links list-inline" style="background-color:#D9534F">
        <li>
            <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">
                <eq name="language" value="en-us">English</eq>
                <eq name="language" value="ko-kr">한국어</eq>
                <eq name="language" value="zh-cn">中文</eq>
                <eq name="language" value="ja-jp">日本語</eq>
            </a>
            <ul class="dropdown-langs dropdown-menu">
                <li <eq name="language" value="en-us">class="active"</eq>>
                    <a href="{:U('Server/Index/index',array('language'=>'en-us'))}">{$Think.lang.en}</a>
                </li>
                <li <eq name="language" value="ko-kr">class="active"</eq>>
                    <a href="{:U('Server/Index/index',array('language'=>'ko-kr'))}">{$Think.lang.kr}</a>
                </li>
                <li <eq name="language" value="zh-cn">class="active"</eq>>
                    <a href="{:U('Server/Index/index',array('language'=>'zh-cn'))}">{$Think.lang.ch}</a>
                </li>
                <li <eq name="language" value="ja-jp">class="active"</eq>>
                    <a href="{:U('Server/Index/index',array('language'=>'ja-jp'))}">{$Think.lang.jp}</a>
                </li>
            </ul>
        </li>

    </ul>

</div>
