<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta http-equiv="Content-Language" content="zh-cn">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <meta name="description" content="Xenon Boostrap Admin Panel" />
                    <meta name="author" content="" />

                    <title>后台管理系统</title>

                    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/linecons/css/linecons.css">
                        <link rel="stylesheet" href="__PUBLIC__/Admin/Css/fonts/fontawesome/css/font-awesome.min.css">
                            <link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
                                <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-core.css">
                                    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-forms.css">
                                        <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-components.css">
                                            <link rel="stylesheet" href="__PUBLIC__/Admin/Css/xenon-skins.css">
                                                <link rel="stylesheet" href="__PUBLIC__/Admin/Css/custom.css">

                                                    <script src="__PUBLIC__/Public/Js/jquery-1.7.2.min.js"></script>

                                                    <notempty name="model">
                                                        <script>
                                                            $(document).ready(function () {
                                                                jQuery('#modal-6').modal('show', {backdrop: 'static'});
                                                                        < if condition = "$model eq 4" >
                                                                        setTimeout(function () {
                                                                            $('#modal-6').modal("hide");
                                                                        }, 1000);
                                                                        < /if>		
                                                            });
                                                        </script>
                                                    </notempty>
                                                    <script>
                                                        $(document).ready(function () {
                                                            $(".iswitch").click(function () {
                                                                location.href = $(this).parent().attr("href");
                                                            });
                                                        });
                                                    </script>
                                                    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                                                    <!--[if lt IE 9]>
                                                            <script src="__PUBLIC__/Admin/Js/html5shiv.min.js"></script>
                                                            <script src="__PUBLIC__/Admin/Js/respond.min.js"></script>
                                                    <![endif]-->


                                                    </head>
                                                    <body class="page-body">

                                                        <div class="settings-pane">
                                                            <include file="Main:top" />	
                                                        </div>	
                                                        <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

                                                            <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
                                                            <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
                                                            <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
                                                            <div class="sidebar-menu toggle-others fixed collapsed">

                                                                <div class="sidebar-menu-inner">	
                                                                    <include file="Main:left" />
                                                                </div>

                                                            </div>

                                                            <div class="main-content">

                                                                <!-- User Info, Notifications and Menu Bar -->
                                                                <include file="Main:title" />
                                                                <div class="page-title">

                                                                    <div class="title-env">
                                                                        <h1 class="title">话费充值记录</h1>
                                                                        <p class="description">THE PACKAGE TYPE</p>
                                                                    </div>

                                                                    <div class="breadcrumb-env">

                                                                        <ol class="breadcrumb bc-1">
                                                                            <li>
                                                                                <a href="{:U('Admin/Main/index')}"><i class="fa-home"></i>首页</a>
                                                                            </li>
                                                                            <li>

                                                                                <a href="javascript:;">话费充值记录</a>
                                                                            </li>
                                                                            <li class="active">

                                                                                <strong>话费充值记录</strong>
                                                                            </li>
                                                                        </ol>

                                                                    </div>

                                                                </div>
                                                                <!-- Table Styles -->
                                                                <div class="row">
                                                                    <div class="col-md-12">

                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h3 class="panel-title">话费充值记录</h3>

                                                                                <div class="panel-options">
                                                                                    <!--                                                                                    <a href="{:U('Admin/Order/addrujin')}">
                                                                                                                                                                            <i class="fa-eyedropper"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="点击后出现添加框" data-original-title="添加入金"></i>
                                                                                    
                                                                                                                                                                        </a>-->

                                                                                    <a href="#" data-toggle="panel">
                                                                                        <span class="collapse-icon">&ndash;</span>
                                                                                        <span class="expand-icon">+</span>
                                                                                    </a>

                                                                                    <a href="{:U('Admin/Main/packageType')}" >
                                                                                        <i class="fa-rotate-right"></i>
                                                                                    </a>

                                                                                    <a href="#" data-toggle="remove">
                                                                                        &times;
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel-body panel-border">

                                                                                <div class="row">
                                                                                    <div class="col-sm-12">

                                                                                        <!-- Table Model 2 -->
                                                                                        <!-- <strong></strong> -->

                                                                                        <table class="table table-bordered table-striped">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>序号</th>
                                                                                                    <th>用户</th>
                                                                                                    <th>元宝</th>
                                                                                                    <th>话费</th>
                                                                                                    <th>手机</th>
                                                                                                    <th>消费钱包</th>
                                                                                                    <th>申请时间</th>
                                                                                                    <!--                                                                                                    <th>备注码</th>-->
                                                                                                    <!--                                                                                                    <th>状态</th>
                                                                                                                                                                                                        <th>操作</th>-->
                                                                                                </tr>
                                                                                            </thead>

                                                                                            <tbody class="middle-align">

                                                                                                <volist name="rujin" id="type">
                                                                                                    <tr>
                                                                                                        <td>{$type['id']}</td>
                                                                                                        <td>{$type['email']}</td>
                                                                                                        <td>{$type['yuanbao']}</td>
                                                                                                        <td>{$type['jine']}</td>
                                                                                                        <td>{$type['shouji']}</td>
                                                                                                        <td>
                                                                                                            <if condition="$type.qianbao eq 1">
                                                                                                                本金钱包
                                                                                                                <elseif condition="$type.qianbao eq 2" />
                                                                                                                利息钱包
                                                                                                                <elseif condition="$type.qianbao eq 3"/>
                                                                                                                奖金钱包
                                                                                                            </if>
                                                                                                        </td>
                                                                                                        <!--<td>{$type['shouji']}</td>-->
                                                                                                        <td>{$type['ctime']}</td>

                                                                                                    </tr>
                                                                                                </volist>


                                                                                            </tbody>

                                                                                        </table>

                                                                                        <div class="row">

                                                                                            <div class="col-xs-6">
                                                                                                <div class="dataTables_info" ></div>

                                                                                            </div>

                                                                                            <div style="float:right;">
                                                                                                <div class="page">
                                                                                                    {$page}
                                                                                                </div>

                                                                                            </div>

                                                                                        </div>


                                                                                    </div>

                                                                                </div>


                                                                            </div>


                                                                        </div>


                                                                    </div>

                                                                </div>

                                                                <!-- Tables and Panels -->
                                                                <!-- Main Footer -->
                                                                <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
                                                                <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
                                                                <!-- Or class "fixed" to  always fix the footer to the end of page -->
                                                                <footer class="main-footer sticky footer-type-1">			
                                                                    <include file="Main:foot" />			
                                                                </footer>
                                                            </div>


                                                            <!-- start: Chat Section -->
                                                            <include file="Main:right" />
                                                            <!-- end: Chat Section -->


                                                        </div>


                                                        <!-- Modal 6 (Long Modal)-->
                                                        <div class="modal fade" id="modal-6">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <if condition="$model eq 4">
                                                                        <div>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4>
                                                                                <font color="#2c2e2f"><strong>操作成功</strong></font>
                                                                            </h4>
                                                                        </div>					
                                                                        <elseif condition="$model eq 3"/>
                                                                        <div>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4>
                                                                                <font color="red"><strong>操作失败！</strong></font>
                                                                            </h4>
                                                                        </div>
                                                                        <else/>
                                                                        <form action="{:U('Admin/Order/addrujin')}" method="post" >
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h4 class="modal-title">
                                                                                    <if condition="$model eq 1">添加入金</if>
                                                                                    <if condition="$model eq 2">修改入金</if>
                                                                                </h4>
                                                                            </div>

                                                                            <div class="modal-body">

                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label">用户邮箱</label>

                                                                                            <input type="text" name="email" class="form-control" value="{$email}" placeholder="用户邮箱">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label">入金金额</label>

                                                                                            <input type="text" name="money" class="form-control" value="{$money}" placeholder="入金金额">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>


                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <input type="hidden" name="p" value="{$p}">
                                                                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                                                                    <input type="submit" class="btn btn-success" value="提交">
                                                                                        </div>
                                                                                        </form>			
                                                                                        </if>
                                                                                        </div>
                                                                                        </div>
                                                                                        </div>	
                                                                                        <!-- Modal 6 (Long Modal)-->	



                                                                                        <!-- Bottom Scripts -->
                                                                                        <script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
                                                                                        <script src="__PUBLIC__/Admin/Js/TweenMax.min.js"></script>
                                                                                        <script src="__PUBLIC__/Admin/Js/resizeable.js"></script>
                                                                                        <script src="__PUBLIC__/Admin/Js/joinable.js"></script>
                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-api.js"></script>
                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-toggles.js"></script>
                                                                                        <!-- Imported scripts on this page -->
                                                                                        <script src="__PUBLIC__/Admin/Js/toastr/toastr.min.js"></script>

                                                                                        <!-- JavaScripts initializations and stuff -->
                                                                                        <script src="__PUBLIC__/Admin/Js/xenon-custom.js"></script>

                                                                                        </body>
                                                                                        </html>