<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en">
<head>
	<include file="Public/head"/>
</head>
<body class="smart-style-1 desktop-detected" style="min-height: 871px;">
<!--===header start===-->
		<!-- HEADER -->
						<header id="header" style="background:#000;">
			<include file="Public/header"/>
		</header>
<!--=== End Header ===-->

		<!-- Left panel : Navigation area -->
		<aside id="left-panel" style="min-height: 918px; background: rgb(228, 238, 245);">
		    <include file="Public/left"/>

		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
        

<!-- RIBBON -->
<div id="ribbon">
                <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="&lt;i class=&#39;text-warning fa fa-warning&#39;&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>
				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><i class="fa fa-md fa-fw fa-home"></i>{$Think.lang.public-main}</li><li>{$Think.lang.menu-comm}</li><li class="active">{$Think.lang.menu-commission}</li>
				</ol>
				<!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<!-- MAIN CONTENT -->
<div id="content">
<!-- MAIN top -->  
              <div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-star"></i>{$Think.lang.menu-commission}</h1>
					</div>
			  </div>
<!--END MAIN top -->
<!--top alert
                <div class="row">
                    <div class="col-sm-12">
                       <div class="well well-light">
								<a class="close" data-dismiss="alert" href="">×</a>
								<h4 class="alert-heading"><i class="fa-fw fa  fa-exclamation-triangle"></i>注意</h4>
								<p>--</p>
					    </div>
                    </div>
                </div>  


end top alert-->

<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-md-4">
					<div class="widget widget-stats bg-blue">
						<div class="stats-info">
							<h4>{$Think.lang.bonus-info}</h4>
							<p>{$Think.lang.bonus-total-bv}:<span class="pull-right">{$LeftBvPriceInfo+$RightBvPriceInfo}</span></p>
							<p>{$Think.lang.bonus-left}:<span class="pull-right">{$LeftBvPriceInfo}</span></p>
							<p>{$Think.lang.bonus-right}:<span class="pull-right">{$RightBvPriceInfo}</span></p>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-4">
					<div class="widget widget-stats bg-blue">
						<div class="stats-info">
							<h4>{$Think.lang.bonus-info}</h4>
							<p>{$Think.lang.bonus-total-downline}:<span class="pull-right">{$CountL+$CountR}</span></p>
							<p>{$Think.lang.bonus-left}:<span class="pull-right">{$CountL}</span></p>
							<p>{$Think.lang.bonus-right}:<span class="pull-right">{$CountR}</span></p>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-4">
					<div class="widget widget-stats bg-blue">
						<div class="stats-info">
							<h4>{$Think.lang.bonus-info}</h4>
							<p>{$Think.lang.bonus-directly-sponsored}:<span class="pull-right">{$CountMember}</span></p>
							<!--<p>全部赞助人:<span class="pull-right">64</span></p>	-->
							<p><a class="btn btn-primary btn-xs" href="{:U('Home/Main/direct_tree')}">{$Think.lang.bonus-diretly-sponsored-tree}</a></p>
							<p><span></span></p>
						</div>
						
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->

                                <!-- START ROW -->
					<div class="row">
                        <!-- NEW COL START -->
						<article class="col-sm-12 col-md-12 col-lg-12">
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-blue" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-star"></i> </span>
									<h2>{$Think.lang.menu-commission}</h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
									<!-- widget content -->
									<div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">
											<!--search-->
											<form name="searchForm" id="searchForm" method="get" action="Images/DIGIT COIN.html" class="form-inline">
										<fieldset>
										<table style="width:100%;" border="0" cellspacing="0" cellpadding="2">
										<colgroup><col width="90%"><col width="10%"></colgroup>
										  <tbody><tr>
										    <td>
											   
											   
												
                                         
											</td>
											<td align="right">
												<div class="form-group">
													<select class="form-control input-sm" name="page_set" onchange="javascript:document.searchForm.submit(this);">
														<option value="10" <eq name="page_set" value="10">selected="selected"</eq>>10</option>
														<option value="30" <eq name="page_set" value="30">selected="selected"</eq>>30</option>
														<option value="50" <eq name="page_set" value="50">selected="selected"</eq>>50</option>
														<option value="100" <eq name="page_set" value="100">selected="selected"</eq>>100</option>
													</select>
												</div>
											</td>
										  </tr>
										</tbody></table>

										</fieldset>
					                    </form>
											<!--/search-->
												
				
										</div>

										<div class="table-responsive mt20">
										
										<table id="dt_basic" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th class="text-center" width="10%">{$Think.lang.public-date}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-forward-left}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-forward-right}</th>
                                                    <th class="text-center" width="10%">{$Think.lang.bonus-new-left}</th>
                                                    <th class="text-center" width="10%">{$Think.lang.bonus-new-right}</th>
                                                    <th class="text-center" width="10%">{$Think.lang.bonus-balance-left}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-balance-right}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-total}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-network-bonus}</th>
													<th class="text-center" width="10%">{$Think.lang.bonus-details}</th>
												</tr>
											</thead>
                                            
											<tbody>
                                             

											 <notempty name="BvInfoList">
												 <volist name="BvInfoList" id="nl">
													 <tr>
														 <td class="text-center">{$nl['addtime']|mb_substr=0,10,'utf-8'}</td>
														 <td class="text-right">{$nl['new_left_price']}</td>
														 <td class="text-right">{$nl['new_right_price']}</td>

														 <td class="text-right">{$nl['left_price']}</td>
														 <td class="text-right">{$nl['right_price']}</td>
														 <td class="text-right">{$nl['over_left_price']}</td>
														 <td class="text-right">{$nl['over_right_price']}</td>
														 <td class="text-right">{$nl['new_left_price']+$nl['new_right_price']}</td>
														 <td class="text-right">{$nl['dv_price']}</td>
														 <td class="text-center"><a class="label bg-color-blueDark txt-color-white pull-right" href="#popup" data-toggle="modal" data-load-remote="{:U('Home/Main/pop_detail_bonus1',array('id'=>$nl['id']))}" data-load-remote-value="{:U('Home/Main/pop_detail_bonus1',array('id'=>$nl['id']))}" data-remote-target="#popup .modal-content">{$Think.lang.bonus-details}</a></td>
													 </tr>
												 </volist>
												 <else/>
												 <tr><td colspan="4" class="text-center padding-20">{$Think.lang.public-content}</td></tr>
											 </notempty>
                                             
											</tbody>
                                            <tfoot>
											   <tr>
			                                     <td colspan="10">
													 <notempty name="count_status">
														 <div class="pagination pull-right page">
															 {$page}
														 </div>
														 <else/>
														 <ul class="pagination pull-right">
															 <li class="first disabled"><a href="#">{$Think.lang.public-index-page}</a></li>
															 <li class="prev disabled"><a href="#">{$Think.lang.public-pre-page}</a></li>
															 <li class="active"><a href="#">1</a></li>
															 <li class="next disabled"><a href="#">{$Think.lang.public-next-page}</a></li>
															 <li class="last disabled"><a href="#">{$Think.lang.public-last-page}</a></li>
														 </ul>
													 </notempty>

												 </td>
		                                       </tr>
	                                        </tfoot>
										</table>
                                        </div>



					
					
					                </div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->
				
						</article>
						<!-- END COL -->

					</div>

					<!-- END ROW -->


</div><!--END MAIN CONTENT -->
</div>
		<!-- END MAIN PANEL -->

		<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
<include file="Public/top"/>
        
<!-- END SHORTCUT AREA -->
    <!-- JavaScript -->
    
    <!-- JQUERY SCRIPT -->
<include file="Public/script"/>


<script>
   $(function(){
	 //nav active setting
	 
	 $("nav > ul > li.active").removeClass("active");
	 $("nav > ul > li.open").removeClass("open");
     $("nav > ul > li:eq(4) > ul > li:eq(0)").addClass("active");
	 
	   
    });
</script>
		<!-- MAIN APP JS FILE -->
        <!--common-->
   <script>
   $(function(){
	 //all page common code!!!!! import  
	 pageSetUp();
	   
    });
   </script>        
        
        
        <!--[if IE 7]>
        <script>ie_error('IE7');</script>     
		<![endif]-->
        <!--[if IE 8]>
        <script>ie_error('IE8');</script>     
		<![endif]-->
 
        
        <!--COMMON POPUP--> 
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content:e -->
  </div><!-- /.modal-dialog:e -->
</div><!-- /.modal:e --> 


<script>
$(document).ready(function() {


        //popup show
          $('[data-load-remote]').on('click',function(e) {
          e.preventDefault();
          var $this = $(this);
          var remote = $this.data('load-remote');
	      var remote_value = $this.data('load-remote-value');
          if(remote) {
            $($this.data('remote-target')).load(remote,remote_value);
          }

          });

 //reload detected
 $('body').on('hidden.bs.modal', '.modal', function () {
  $(this).removeData('bs.modal');
});

});
</script>   


<div id="divSmallBoxes"></div><div id="divMiniIcons"></div><div id="divbigBoxes"></div></body></html>