<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en" style="background: none;">
    <head>
    <include file="Public/head"/>
</head>
<body>
    <!--===header start===-->
    <!-- HEADER -->
    <header style="background:#000;">
        <include file="Public/header"/>
    </header>
    <style>
        body{
            background: none;
        }
        .fontsss{
            text-align: center;color:#666;font-size: 12px;line-height: 12px;height:12px;
        }
        .liddd{
            width:20%;float:left;margin-top:20px;border:1px solid #F8C84E;margin-left: 4%;padding:5px;
        }
    </style>
    <div id="main" role="main">

        <div id="content" class="bg_dash">
            <div class="row">
                <!--<div class="col-sm-12 col-md-1"></div>-->
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a108.png">
                        <div class="clear"></div>
                        <div class="fontsss">Q币充值</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a105.png">
                        <div class="clear"></div>
                        <div class="fontsss">流量充值</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="{:U('Home/Main/huafei',array('language'=>$language))}" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a85.png">
                        <div class="clear"></div>
                        <div class="fontsss">话费充值</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a231.png">
                        <div class="clear"></div>
                        <div class="fontsss">通用礼品卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a87.png">
                        <div class="clear"></div>
                        <div class="fontsss">加油卡充值</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a88.png">
                        <div class="clear"></div>
                        <div class="fontsss">游戏充值</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/a115.png">
                        <div class="clear"></div>
                        <div class="fontsss">固话直充</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/17.png">
                        <div class="clear"></div>
                        <div class="fontsss">爱奇艺会员</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/15.png">
                        <div class="clear"></div>
                        <div class="fontsss" style="font-size:9px;">百胜心意美食卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/9.png">
                        <div class="clear"></div>
                        <div class="fontsss">苏宁卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/4.png">
                        <div class="clear"></div>
                        <div class="fontsss">国美红券</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/2.png">
                        <div class="clear"></div>
                        <div class="fontsss">当当礼品卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/11.png">
                        <div class="clear"></div>
                        <div class="fontsss" style="font-size:9px;">唯品会礼品卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/7.png">
                        <div class="clear"></div>
                        <div class="fontsss">携程任我行</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/8.png">
                        <div class="clear"></div>
                        <div class="fontsss">携程任我游</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/14.png">
                        <div class="clear"></div>
                        <div class="fontsss">GAP礼品卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/16.png">
                        <div class="clear"></div>
                        <div class="fontsss" style="font-size:7px;">优酷土豆会员月卡</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                <div class="liddd">
                    <a href="javascript:alert('正在开发中...')" class="">
                        <img class="img-responsive center-block"  src="__PUBLIC__/Home/index/18.png">
                        <div class="clear"></div>
                        <div class="fontsss">大闸蟹</div>
                        <!--<span>Q币充值</span>-->
                    </a>
                </div>
                
            </div>
            <div class="row">
              
                <div  style="width:92%;float:left;margin-top:20px;border:1px solid #F8C84E;margin-left: 4%;padding:5px;">
                    <div style="text-align: center;font-size:18px;margin-top: 10px;color:red">最新公告</div>
                    <div style="padding:20px;">{$Think.config.DEFAULT_WEB_NOTICE}</div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
            </div>

        </div><!--END MAIN CONTENT -->

    </div>
<include file="Public/foot"/>
<include file="Public/script"/>
</body>
</html>