<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{$Think.lang.pop-upgrade}</h3>
    </div>

    <div class="modal-body">
        <form name="packageForm" action="{:U('Home/Main/pop_upgrade')}" method="post" class="smart-form client-form">
            <fieldset>
                <section>
                    <label class="label">{$Think.lang.pop-package-name}</label>
                    <label>
                        <h3>{$PackageType['title']}</h3>
                        <input type="hidden" name="package_id" value="{$PackageType['id']}">
                    </label>
                </section>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">{$Think.lang.pop-new-s}</label>
                        <label class="input"><i class="icon-append fa fa-check"></i>
                            <input type="text" name="D_CASH" <if condition="$PriceInfo[0]['s_price']">value="{$PriceInfo[0]['s_price']}"<else/>value="0.00"</if> readonly="readonly">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{$Think.lang.pop-new-b}</label>
                        <label class="input"><i class="icon-append fa fa-check"></i>
                            <input type="text" name="B_CASH" <if condition="$PriceBInfo[0]['b_price']">value="{$PriceBInfo[0]['b_price']}"<else/>value="0.00"</if> readonly="readonly">
                        </label>
                    </section>
                </div>
                <section>
                    <label class="label">{$Think.lang.pop-upgrade-title}</label>
                    <div class="inline-group">
                        <label class="radio">
                            <input type="radio" name="pay_type" checked="checked" value="1">
                            <i></i>{$Think.lang.pop-price-s}</label>
                        <label class="radio">
                            <input type="radio" name="pay_type" value="2">
                            <i></i>{$Think.lang.pop-price-b}</label>
                        <label class="radio">
                            <input type="radio" name="pay_type" value="3">
                            <i></i>{$Think.lang.pop-price-s} + {$Think.lang.pop-price-b}</label>
                    </div>
                </section>

                <section>

                    <label class="label">{$Think.lang.pop-user-pass}</label>
                    <label class="input"><i class="icon-append fa fa-check"></i>
                        <input type="password" name="paypass" value="">
                    </label>
                </section>
            </fieldset>
            <footer>
				<input type="hidden" name="language" value="{$language}">
                <button type="button" class="btn btn-default" data-dismiss="modal">{$Think.lang.login-out}</button>
                <button type="submit" id="submit" class="btn bg-color-red txt-color-white">{$Think.lang.public-upgrade}</button>
            </footer>
        </form>
    </div><!--modal-body:e-->
</div>