<div class="modal-content">
	<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					 <h3 class="modal-title">{$Think.lang.pop-cash}</h3>
	</div><!--modal-header:e-->
	<div class="modal-body">
	<form name="transferForm" action="{:U('Home/Main/pop_transfer')}" method="post" class="smart-form" novalidate="novalidate">

	<fieldset>

							
							<section>
											<label class="label">{$Think.lang.pop-member-submit}</label>
											<label class="input">
												<textarea name="" style="width:100%;height:80px;resize: none;padding:10px;" readonly="true" >{$Cash['remark']}</textarea>
											</label>
							</section>
							
							<section>
											<label class="label">{$Think.lang.pop-return}</label>
											<label class="input">
												<textarea name="" style="width:100%;height:80px;resize: none;padding:10px;" readonly="true"><if condition="$Cash['recom'] eq 1">{$Cash['content']}<else/>empty</if></textarea>
											</label>
							</section>



	</fieldset>  

							
							<footer>
										<button type="button" class="btn btn-default" data-dismiss="modal">{$Think.lang.pop-submit}</button>										
							</footer>
					 </form>

	</div><!--modal-body:e-->
</div>