<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en">
    <head>
    <include file="Public/head"/>
</head>
<body >
    <!--===header start===-->
    <!-- HEADER -->
        <include file="Public/header"/>
    <!--=== End Header ===-->


    <!-- MAIN PANEL -->
    <div id="main" role="main">




        <!-- MAIN CONTENT -->
        <div id="content">
            <!-- MAIN top -->  

            <!--END MAIN top -->
            <!--top alert 
                            <div class="row">
                                <div class="col-sm-12">
                                   <div class="well well-light">
                                                                            <a class="close" data-dismiss="alert" href="">×</a>
                                                                            <h4 class="alert-heading"><i class="fa-fw fa  fa-exclamation-triangle"></i>注意</h4>
                                                                            <p>--</p>
            
                                                        </div>
                                </div>
                            </div>  
            <!--end top alert-->

            <!-- START ROW -->
            <div class="row">
                <!-- NEW COL START -->
                <div class="col-sm-12 col-md-1"></div>
                <article class="col-sm-12 col-md-10">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-yellow" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header style="background: #518BD5">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>{$Think.lang.han102}</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <form class="smart-form" name="depositForm" action="{:U('Home/Main/zhuanzhang')}" method="post" novalidate="novalidate">
                                    <fieldset>
                                        <section  style="margin-top: 20px;">
                                            <label class="label">{$Think.lang.youxiang}{$Think.lang.zhanghu}</label>
                                            <label class="input">
                                                <input type="text" disabled class="input-sm" id="email" name="email" value="{$Member['email']}">
                                            </label>
                                        </section>
                                            <section>
                                            <label class="label">{$Think.lang.han103}</label>
                                            <label class="select">
                                                <select name="qianbao">
                                                    <option value="1">{$Think.lang.han88}</option>
                                                    <!--<option value="2">复投钱包</option>-->
                                                    <option value="2">{$Think.lang.han104}</option>
                                                </select>
                                            </label>
                                        </section>
                                            <section>
                                            <label class="label">{$Think.lang.han105}</label>
                                            <label class="input">
                                                <input type="text"  class="input-sm" id="money" name="money" >
                                            </label>
                                        </section>
                                            <section>
                                            <label class="label">{$Think.lang.han106}</label>
                                            <label class="input">
                                                <input type="text"  class="input-sm" id="temail" name="temail"  placeholder="{$Think.lang.han107}">
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">{$Think.lang.jiaoyimima}</label>
                                            <label class="input">
                                                <input type="password" class="input-sm" name="paypass">
                                            </label>
                                        </section>
                                    </fieldset>
                                    <footer>
                                        <button style="background: #518BD5;border:1px solid #518BD5" type="submit" id="submit" class="btn btn-primary">
                                            {$Think.lang.queding}
                                        </button>
                                    </footer>
                                </form>


                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- END COL -->
<div class="col-sm-12 col-md-1"></div>
                

            </div>

            <!-- END ROW -->




<div class="row">
                <div class="col-sm-12 col-md-1">
                </div>
                <div class="table-responsive mt20 col-sm-12 col-md-10">

                    <table id="dt_basic" class="table table-striped table-bordered table-hover">
                        <caption style="font-size: 20px;color:#518BD5;text-align: left;">{$Think.lang.han108}</caption>
                        <thead>
                            <tr   class="danger">
                                <th class="text-center"  style="background: #518BD5">{$Think.lang.bianhao}</th>
                                <th class="text-center"   style="background: #518BD5">{$Think.lang.public-date}</th>
                                <th class="text-center"   style="background: #518BD5">{$Think.lang.han37}</th>
                                <!--<th class="text-center"   style="background: #518BD5">{$Think.lang.youxiang}</th>-->
                                <th class="text-center"   style="background: #518BD5">{$Think.lang.han106}</th>
                                <th class="text-center"   style="background: #518BD5">{$Think.lang.qianbao}</th>
                                <th class="text-center"   style="background: #518BD5">{$Think.lang.han38}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="touzi_list" id="oil">
                            <tr   class="active">
                                <td class="text-center" >{$count-$indexpage-$key}</td>
                                <td class="text-center" >{$oil['ctime']}</td>
                                <td class="text-center">{$oil['money']}</td>
                                <td class="text-center">{$oil['temail']}</td>
<td class="text-center">
                            <if condition="$oil.qianbao eq 1">
{$Think.lang.han88}
                                <else/>{$Think.lang.han104}
                            </if>
                            </td>
<td class="text-center">
                            <if condition="$oil.zhuanru eq 1">

                                <font color='red'>{$Think.lang.han110}</font>
                                <else/>
                                <font color='green'>{$Think.lang.han109}</font>
                            </if>
                            </td>

                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                        <notempty name="count_status">
                            <div class="pagination pull-right page">
                                {$page}
                            </div>
                            <else/>
                            <ul class="pagination pull-right">
                                <li class="first disabled"><a href="#">{$Think.lang.public-index-page}</a></li>
                                <li class="prev disabled"><a href="#">{$Think.lang.public-pre-page}</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="next disabled"><a href="#">{$Think.lang.public-next-page}</a></li>
                                <li class="last disabled"><a href="#">{$Think.lang.public-last-page}</a></li>
                            </ul>
                        </notempty>

                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div> 
                <div class="col-sm-12 col-md-1">
                </div>
            </div>
            <include file="Public/foot"/>
        </div><!--END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->

    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
    Note: These tiles are completely responsive,
    you can add as many as you like
    -->
<include file="Public/top"/>

<!-- END SHORTCUT AREA -->
<!-- JavaScript -->

<!-- JQUERY SCRIPT -->
<include file="Public/script"/>


<script>
    $(function () {
        //nav active setting

        $("nav > ul > li.active").removeClass("active");
        $("nav > ul > li.open").removeClass("open");
        $("nav > ul > li:eq(2) > ul > li:eq(2)").addClass("active");


    });
</script>
<!-- MAIN APP JS FILE -->
<!--common-->
<script>
    $(function () {
        //all page common code!!!!! import  
        pageSetUp();

    });
</script>        


<!--[if IE 7]>
<script>ie_error('IE7');</script>     
        <![endif]-->
<!--[if IE 8]>
<script>ie_error('IE8');</script>     
        <![endif]-->




<!--COMMON POPUP--> 
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div><!-- /.modal-content:e -->
    </div><!-- /.modal-dialog:e -->
</div><!-- /.modal:e --> 


<script>
    $(document).ready(function () {


        //popup show
        $('[data-load-remote]').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var remote = $this.data('load-remote');
            var remote_value = $this.data('load-remote-value');
            if (remote) {
                $($this.data('remote-target')).load(remote, remote_value);
            }

        });
        $("#price").blur(function () {
            if ($(this).val() != "") {
                $(".msg").remove();
                $(this).parent().parent().find("label").removeClass("state-error");
                var t = $(this).val();
                var z = /^[0-9]*$/;
                if (!z.test(t)) {
                    $(this).parent().parent().find("label").addClass("state-error");
                    $(this).parent().after("<em  class='msg'>请输入数字.</em>");
                }
            } else {
                $(this).val("1");
            }

        });

        //reload detected
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

    });
</script>   


<div id="divSmallBoxes"></div><div id="divMiniIcons"></div><div id="divbigBoxes"></div></body></html>